<!DOCTYPE html>
<html>

{include file="public/head"}

<body class="skin-blue" style="height:100%">
            <section class="content-header">
                <h1>我的信息
                   
                    <small>更改信息</small>
                </h1>
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                        <div class="box">
                                <div class="box-header">
                                    <div class="box-tools">
                                        <div class="input-group">
                                            <button class="btn btn-success" id="add_admin" onclick="buttonform()">
                                                <i class="fa fa-plus"></i>
                                               修改信息
                                            </button>
                                           
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <form action="__ROOT__/index.php/admin/admin/updateMsg" method="POST">
                   <table>
                    <tr>
                        <td>用户名：</td>
                        <td><input type="text" name="username" value="{$admin['username']}"></td>
                    </tr>
                    <tr>
                            <td>密码：</td>
                            <td><input type="password" name="password" value=""></td>
                        </tr>
                     <tr>
                            <td>用户email:</td>
                            <td><input type="email" value="121699842@qq.com"></td>
                     </tr>
                     <tr>
                         <td colspan="2">
                             <input type="submit" value="确认修改">
                         </td>
                     </tr>
                   </table>
                </form>
                </div>
                </div>
                <!-- /.row -->
            </section>
            <!-- right col -->
    </div>
    <!-- /.row (main row) -->
    </section>
    <!-- /.content -->
    
    <!-- /.right-side -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 2.0.2 -->
    {include file="public/script"}

</body>

</html>