<!DOCTYPE html>
<html>

{include file='public/head'}

<body class="skin-blue">
    {include file='public/header'}
  
    <div class="wrapper row-offcanvas row-offcanvas-left">
        {include file='public/navbar'}
        <div class="copyrights">
            Collect from
            <a href="http://www.moobnn.com/" title="网站模板">网站模板</a>
        </div>
        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side" style="height :590px;" >
            <div>
            <iframe src="__ROOT__/index.php/admin/index/holle" id="content" style="height :100vh;"></iframe>
        </div>
    </aside>
    <!-- /.right-side -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 2.0.2 -->
    {include file="public/script"}
</body>

</html>