<!DOCTYPE html>
   <html>
   
   {include file="public/head"}
   
   <body class="skin-blue" style="height:100%">
   <!-- Content Header (Page header) -->
   <section class="content-header">
        <h1>店铺管理
           
            <small>全部店铺</small>
        </h1>
    </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="box-tools">
                                
                                <div class="input-group">
                                 <form id="sourch" action="__ROOT__/index.php/admin/user/sourchUser" method="POST">
                                    <input type="text" name="table_search" class="form-control input-sm pull-right" required style="width: 150px;" placeholder="搜索"/>
                                
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-default"  style="vertical-align: top !important;" >
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tr>
                                    <th>店铺名称</th>
                                    <th>店铺位置</th>                                   
                                    <th>店铺电话</th>
                                   
                                    <th>店铺照片</th>
                                    <th>销量</th>
                                    <th>操作</th>
                                </tr>
                                {volist name="merchants" id="user"}
                                <tr>
                                  
                                    <th>{$user['merchant_name']}</th>
                                    <td>{$user['merchant_loc']}</td>                                  
                                    <td>{$user['phone']}</td>
                                    <th><img src="{$user['merchant_pic']}" width="80px" height="50px"/></th>
                                    <td>{$user["sales"]}</td>
                                    <td><a>查看</a>
                                   
                                        <a>删除</a></td>
                                    
                                </tr>
                                {/volist}
                               
                            </table>
                            <div>
                                    {$show}
                            </div>
                           
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
        <!-- /.content -->
       
        {include file="public/script"}
       
    </body>
    
    </html>